@import url("https://use.typekit.net/jmk3xov.css");
html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}


.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
    /* mix-blend-mode: exclusion; */
}

/* @media screen and (min-width: 960px){
    .webgl{
        padding-left: 20%;
    }
} */

:root {
    /* 変数定義 */
    --spacingTop: 500px;
    --spacing: 350px;
    --spacingMini: 10px;
    --black: #141414;
    --yellow: #FEED01;
    --white: #F8F8F8;
    --grey: #DFE0E1;
  
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    /* width: 100vw; */
    color: #141414;

    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    /* padding: 120px 0px; */

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* ---------- HEADER ---------- */


header {
    position: fixed;
    width: 100%;
    height: 15vw;
    text-align: center;
    color: #1D1D1D;
    display: flex;
    grid-column: 1 / 12;
}

header .title{
    font-size:10vw;
    margin: .5vw 0 0 5vw;
    font-weight: 600;
}


header .author {
    font-size: 3.5vw;
    position: right;
    margin: 2%;
    width: 94%;
    text-align: center;
    padding-top: 5%;
}

.author span{
    margin: 3%;
}

a{
    text-decoration: none;
    color: #1D1D1D;
}

/* responsive for PC */
@media screen and (min-width: 768px){
    header .title{
        font-size:5vw;
        padding-top: 1%;
    }
    
    
    header .author {
        font-size: 2vw;
        padding-top: 3%;
    }
}

/* ---------- MAIN ---------- */

section {
    grid-column: 2 / 12;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / 12;
    margin-top: var(--spacingTop);
    margin-bottom: var(--spacing);
    text-align: center;
    color: #1D1D1D;
}

blockquote h2 {
    font-size: 5rem;
    display: block;
    line-height: 1;
}
@media screen and (min-width: 768px){
    blockquote h2 {
        font-size: 8rem;
    }
}

blockquote p {
    font-size: 1.25rem;
    display: block;
    line-height: 1;
}

/* responsive for PC */
@media screen and (min-width: 768px){ 
    section {
        grid-column: 2 / 8;
    }
}

.images{
    grid-column: 2 / 12;
    margin-bottom: var(--spacingMini);
    background-size: contain;
    background-repeat:  no-repeat; 
    height: 50vw;
}

.img1{
    background-image: url("../static/img/oto_opening.png");
}
.img2{
    background-image: url("../static/img/oto_select.png");
}
.img3{
    background-image: url("../static/img/oto_result.png");
}

