@import url("https://use.typekit.net/nzn5okx.css");
html{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
body{
    background-color: var(--white);
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
    z-index: 1;
    /* mix-blend-mode: exclusion; */
}

:root {
    --black: #141414;
    --yellow: #FEED01;
    --white: #F8F8F8;
    --grey: #DFE0E1;
  
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    color: var(--black);

    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    /* padding: 120px 0px; */

    /* display: grid;
    grid-template-columns: repeat(12, 1fr); */
}

#luxy{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
    font-weight: 600;
    font-style: normal;
}


/* ---------- HEADER ---------- */
header {
    position: fixed;
    width: 100%;
    height: 15vw;
    text-align: center;
    color: #1D1D1D;
    display: flex;
    grid-column: 1 / 12;
    z-index: 100;
}

header .logo{
    font-size:10vw;
    margin: .5vw 0 0 5vw;
    font-weight: 700;
}

header .author {
    font-size: 3.5vw;
    margin: 2%;
    width: 94%;
    text-align: center;
    padding-top: 5%;
}

.author span{
    margin: 3%;
}

.donate{
    position: relative;
    font-family: fot-tsukuardgothic-std, sans-serif;
}

.donate::after{
    display: block;
    position: absolute;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: var(--grey);
    content: '';
}

a{
    text-decoration: none;
    color: var(--black);
    transition: 200ms;
}

a:hover{
    opacity: 50%;
}

/* responsive for PC */
@media screen and (min-width: 768px){
    header .logo{
        font-size:5vw;
        padding-top: 1%;
    }
    
    header .author {
        font-size: 1.5vw;
        padding-top: 3.5%;
    }
}

/* ------------------ MAIN ------------------ */
/* #title-top{
    height: 90vw;
    grid-column: 1/6;
    background-color: var(--yellow);
    z-index: 0;
}

@media screen and (min-width: 768px){
    .title-top{
        height: 50vw;
    }
} */

.title{
    margin: 0;
    padding: 0;
    grid-column: 2 / 12;
    margin-top: 100vw;
    margin-bottom: 20vw;
    text-align: center;
    color: var(--black);
}

.title h1{
    font-size: 6rem;
    display: block;
    line-height: 1;
    font-weight: 900;
}

@media screen and (min-width: 768px){
    .title{
        margin-top: 40vw;
    }
    .title h1 {
        font-size: 8rem;
    }
}

/* ------------------ SECTION ------------------ */
section {
    grid-column: 2 / 12;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30vw;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* responsive for PC */
@media screen and (min-width: 768px){ 
    section {
        grid-column: 2 / 8;
        font-size: 1.25rem;
        margin-bottom: 30vw;
    }
}

section i{
    margin-right: 1rem; 
    font-size: 2.5rem;
    transition: 200ms;
}

section i:hover{
    color: var(--yellow);
}

section.card5{
    margin-bottom: 10vw;
}


blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / 12;
    text-align: left;
    color: var(--black);
    position: relative;
    overflow: hidden;
}

blockquote .bl-wrap{
    position: absolute;
    width: 100%;
    height: 80%;
    left: -100%;
    z-index: 1;
    background-color: var(--yellow);
    opacity: 1;
}

blockquote h2{
    font-style: italic;
    font-size: 2rem;
    line-height: 1;
    opacity: 0;
}

@media screen and (min-width: 768px){
    blockquote h2 {
        font-size: 5rem;
    }
}

blockquote p {
    font-size: 1.25rem;
    display: block;
    line-height: 1;
}

.num-wrap{
    position: relative;
    text-align: center;
    padding: 1%;
}

.num{
    display: inline-block;
    font-size: 3rem;
    margin-right: 5%;
    font-weight: 600;
    font-family: brandon-grotesque, sans-serif;
}

.text{
    display: inline-block;
    font-size: 1rem;
}

.num-wrap::after{
    display: block;
    position: absolute;
    left: 10%;
    bottom: 20%;
    width: 80%;
    height: 2vw;
    background-color: var(--yellow);
    content: '';
    z-index: -1;
}

@media screen and (min-width: 768px){
    .num{
        font-size: 5rem;
    }
    .text{
        font-size: 1.25rem;
    }
}

/* ------------------ GRAPH ------------------ */
.graph-container{
    text-align: center;
    grid-column: 1/13;
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 50vw;
}

.graph-section{
    display: block;
    /* height: 70vw; */
    width: 80%;
    /* background-color: var(--grey); */
    text-align: center;
    margin: 0 auto;
}

.graph-section .num{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    display: block;
}

.graph-section .text{
    display: inline-block;
    font-size: 1rem;
    font-family: fot-tsukuardgothic-std, sans-serif;
    margin-top: 0;
}

.images-graph{
    display: block;
    background-size: contain;
    background-repeat: no-repeat; 
    height: 70vw;
}
@media screen and (min-width: 768px){
    .gragh-container{
        margin-bottom: 30vw;
    }
    .graph-section{
        display: inline-block;
        width: 40%
    }
    .graph-section .num{
        font-size: 4rem;
    }
    .images-graph{
        height: 30vw;
    }
}

/* ---------- DONATE BTN ---------- */
.donate-btn{
    text-align: center;
    grid-column: 2/12;
    background-color: var(--yellow);
    padding: 1rem 0rem;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-size: 1rem;
    color: var(--black);
    transition: 200ms;
    border: 1vw solid;
    border-color: var(--white);
    border-radius: 2rem;
    margin-bottom: 50vw;
}
.donate-btn:hover{
    opacity: 50%;
}
@media screen and (min-width: 768px){
    .donate-btn{
        grid-column: 4/10;
        font-size: 1.5rem;
        margin-bottom: 30vw;
    }
}

/* ------------------ CAMERA MOVE ------------------ */

.blank{
    background-color: var(--yellow);
    opacity: .5;
    height: 100vw;
    grid-column: 1/13;
}

/* responsive for PC */
@media screen and (min-width: 768px){ 
    .blank{
        height: 80vw;
    }
}

/* ------------------ IMAGE ------------------ */

.image-container {
    grid-column: 1 / 13;
    /* background-color: rgba( 254, 237, 1, 1); */
    padding-top: 0vw;
    padding-bottom: 5vw;
    /* height: 150vw; */
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 768px){
    .image-container{
        grid-column: 2/12;
    }
}

.image-container .texts{
    position: absolute;
    color: var(--white);
    display: inline-block;
    font-size: 7vw;
    font-weight: 700;
    font-style: italic;
    /* z-index: 100; */
}

.text1{
    left: 50%;
    transform: translateX(-50%);
}


.image-container-center{
    text-align: center;
    margin: 5vw;
    font-weight: bold;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-size: .5rem;
}

.images{
    display: block;
    margin-bottom: 5vw;
    background-size: contain;
    background-repeat: no-repeat; 
    height: 50vw;
}

@media screen and (min-width: 768px){
    .images{
        margin-bottom: 0vw;
        height: 45vw;
    }
    .image-container-center{
        font-size: 1.5rem;
    }
}

.img1{
    background-image: url("../static/img/oto_opening.png");
}
.img2{
    background-image: url("../static/img/oto_select.png");
}
.img3{
    background-image: url("../static/img/oto_result.png");
}
.img4{
    background-image: url("../static/img/otera.png");
}
.img5{
    background-image: url("../static/img/potato1.png");
}
.img6{
    background-image: url("../static/img/potato2.png");
}
.img7{
    background-image: url("../static/img/graph1.png");
}
.img8{
    background-image: url("../static/img/graph2.png");
}

.block{
    background-color: var(--yellow);
    height: 30vw;
    display: block;
    grid-column: 1/13;
}

/* ---------- INTRO ---------- */

.intro-box{
    grid-column: 2 / 9;
    text-align: left;
    color: var(--black);
    font-family: fot-tsukuardgothic-std, sans-serif;
    margin-bottom: 10vw;
    margin-top: 10vw;
}

.intro-text{
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.mini-text{  
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-size: .5rem
}

.intro-textsub{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.intro-box i{
    font-size: 2.5rem;
    transition: 200ms;
}

.intro-box i:hover{
    opacity: 50%;
}


@media screen and (min-width: 768px){
    .intro-box{
        margin-top: 0vw;
        margin-bottom: 5vw;
    }
    .intro-text{
        font-size: 2rem;
    }  
    .intro-textsub{
        font-size: 1.2rem;
    }
    .mini-text{ 
        font-size: 1rem;
    }
    .intro-box i{
        font-size: 3rem;
    }
}

/* ---------- MOVIE ---------- */
.movie{
    grid-column: 1/13;
}

/* .iframe{
    grid-column: 2/12;
}
@media screen and (min-width: 768px){
    .iframe{
        grid-column: 3/11;
    }
} */

/* ---------- FOOTER ---------- */
footer {
    grid-column: 1/13;
    height: 20vw; 
    text-align: center;
    padding: 5vw 0;
    background-color: var(--white);
}

footer p {
    color: var(--black);
    font-size: 2vw;
    margin-bottom: 1vw;
}

@media screen and (min-width: 768px){
    footer{
        height: 10vw; 
        padding: 5vw 0;
    }
    footer p {
        font-size: 1.5vw;
    }
}